OrgWithMembers/WebContent/wsdl/OrgWithMembers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://trust.utep.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://trust.utep.edu" xmlns:intf="http://trust.utep.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://trust.utep.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrgMembersContent">
    <complexType>
     <sequence>
      <element name="URL" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrgMembersContentResponse">
    <complexType>
     <sequence>
      <element name="getOrgMembersContentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrgMembersContentResponse">

      <wsdl:part element="impl:getOrgMembersContentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrgMembersContentRequest">

      <wsdl:part element="impl:getOrgMembersContent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrgWithMembers">

      <wsdl:operation name="getOrgMembersContent">

         <wsdl:input message="impl:getOrgMembersContentRequest" name="getOrgMembersContentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrgMembersContentResponse" name="getOrgMembersContentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrgWithMembersSoapBinding" type="impl:OrgWithMembers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrgMembersContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrgMembersContentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrgMembersContentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrgWithMembersService">

      <wsdl:port binding="impl:OrgWithMembersSoapBinding" name="OrgWithMembers">

         <wsdlsoap:address location="http://localhost:8080/OrgWithMembers/services/OrgWithMembers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
